# Copie para terraform.tfvars e ajuste ao seu ambiente.

libvirt_uri  = "qemu:///system"
cluster_name = "pg-ha"
storage_pool = "default"
network_name = "default"

# Topologia (atenção: etcd ímpar!)
etcd_count     = 3
postgres_count = 3
haproxy_count  = 2

# Recursos por nó
postgres_vcpus     = 4
postgres_memory_mb = 8192
postgres_disk_gb   = 100

# Cole aqui o CONTEÚDO da sua chave pública (ex.: ~/.ssh/id_ed25519.pub)
ssh_public_key = "ssh-ed25519 AAAA... voce@maquina"
